body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container form {
	margin: 40px auto;
}

#datatable {
	margin: auto 10px;
}

#datatable .symbolrow {
	font-weight: bold;
}

#datatable td {
	white-space: nowrap
}

.alert-message {
	margin-left: 20px;
	margin-right: 20px;
}
